<div class="min-h-screen flex items-center justify-center bg-gray-100 p-6">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"   novalidate class="bg-white p-6 rounded-lg shadow-md w-full max-w-lg">
      <h2 class="text-2xl font-bold text-center mb-6">Sign Up</h2>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1" for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="user_username"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="signupForm.get('user_name')?.touched && signupForm.get('user_name')?.invalid" class="text-red-500 text-sm mt-1">
          Username is required and must be at least 3 characters.
        </div>
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1" for="name">First Name</label>
        <input
          id="name"
          type="text"
          formControlName="user_name"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="signupForm.get('user_firstname')?.touched && signupForm.get('user_firstname')?.invalid" class="text-red-500 text-sm mt-1">
          First Name is required.
        </div>
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1" for="lastname">Last Name</label>
        <input
          id="lastname"
          type="text"
          formControlName="user_lastname"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="signupForm.get('user_lastname')?.touched && signupForm.get('user_lastname')?.invalid" class="text-red-500 text-sm mt-1">
          Last Name is required.
        </div>
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1" for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="user_email"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="signupForm.get('user_email')?.touched && signupForm.get('user_email')?.invalid" class="text-red-500 text-sm mt-1">
          Valid Email is required.
        </div>
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1" for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="user_password"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div *ngIf="signupForm.get('user_password')?.touched && signupForm.get('user_password')?.invalid" class="text-red-500 text-sm mt-1">
          Password must be at least 8 characters.
        </div>
      </div>

      <div *ngIf="isLoading" class="flex justify-center my-4">
        <mat-spinner diameter="100"></mat-spinner>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none"
        [disabled]="!signupForm.valid"
      >
        Sign Up
      </button>
    </form>
  </div>  