<div class="flex flex-col md:flex-row h-screen bg-gray-100 p-4">
  <!-- Sidebar -->
  <div class="w-full md:w-1/5 bg-gray-800 text-white rounded-lg p-4 flex flex-col justify-between md:h-full">
    <div>
      <h2 class="text-xl font-semibold mb-6">Account Settings</h2>
      <ul>
        <li class="mb-3">
          <a routerLink="profile-informations"
            class="w-full block text-left py-2 px-4 rounded-lg hover:bg-[#1E40AF]">
            Profile Information
          </a>
        </li>
        <li class="mb-3">
          <a routerLink="security-settings"
            class="w-full block text-left py-2 px-4 rounded-lg hover:bg-[#1E40AF]">
            Security Settings
          </a>
        </li>
      </ul>
    </div>
    <button
      class="w-full text-center py-2 px-4 rounded-lg bg-red-800 hover:bg-red-900 mt-4">
      Delete My Account
    </button>
  </div>

  <div class="hidden md:block w-2 bg-gray-100"></div>

  <div class="w-full md:w-4/5 bg-white rounded-lg p-6 shadow-md flex-grow flex">
    <div class="w-full min-h-full">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>
