<div class="flex flex-col md:flex-row h-screen bg-gray-100 p-4">
    <div class="w-full md:w-1/5 bg-[#1E3A8A] text-white rounded-lg p-4">
      <h2 class="text-xl font-semibold mb-6">Acoount Settings</h2>
      <ul>
        <li class="mb-3">
          <button
            class="w-full text-left py-2 px-4 rounded-lg hover:bg-[#1E40AF]"
            (click)="setActiveComponent('profile')"
          >
            Profile Information
          </button>
        </li>
        <li class="mb-3">
          <button
            class="w-full text-left py-2 px-4 rounded-lg hover:bg-[#1E40AF]"
            (click)="setActiveComponent('security')"
          >
            Security Settings
          </button>
        </li>
      </ul>
    </div>
  
    <div class="w-full md:w-4/5 bg-white rounded-lg p-6 shadow-md">
      <ng-container *ngIf="activeComponent === 'profile'">
        <div class="w-full">
          <app-profile-informations></app-profile-informations>
        </div>
      </ng-container>
  
      <ng-container *ngIf="activeComponent === 'security'">
        <p class="text-gray-700">Security settings will go here...</p>
      </ng-container>
    </div>
  </div>
  